body {
    background-color: rgb(173,216,230);
    background-image: url("img/salmon.png");

    font-family: Georgia; '"Times New Roman"', serif;
    text-align: center;
}

h1 {
    color: salmon;
    margin-left: 20px;
    font-size: 40px;
}

h2 {
	color: lemonchiffon;
	font-size: 20px;
	margin-left: 20px;

}

div {
	height: 310px;
	width: 600px;
	background-color: salmon;
}

p {
	height: 75%;
	width: 90%;
	background-color: wheat;
	font-size: 15px;
	border: 2px solid white;
	padding: 10px;
	margin-left: 15px;
	margin-top: 15px;
	}

