body {
    background-color: rgb(176,196,222);
    background-image: url("img/salmon.png");

    font-family: Georgia; '"Times New Roman"', serif;
    text-align: center;
}

header {

	background-color: lightblue;
	padding: 15px;
	text-align: center;
	margin: 50px;
}

h2 {
	color: lemonchiffon;
	font-size: 20px;
	margin-left: 20px;

}

h1 {
    color: salmon;
    margin-left: 20px;
    font-size: 50px;
}

h3 {
	color: salmon;
	margin-left: 15px;
}

h4{

}

article {
	width: 650px;	
	background-color: salmon;
	background-position: center;
	padding: 10px;
	margin: 50px;
	text-align: left;
}



p {
	height: 60%;
	width: 85%;
	background-color: wheat;
	font-size: 15px;
	border: 2px solid white;
	padding: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	}

aside {
	width: 320px;
	float: right;
	background-color: wheat;
	margin-right: 50px;
}


th {
	text-color: wheat;
}

tr {
	background-color: salmon;
	width: 650px;
	padding: 10px;
	border-collapse: collapse;
	float: left;
	empty-cells: show;
	margin-left: 50px;


}

footer {
	background-color: ghostwhite;
	width: 400px;
	padding: 5px;
	margin: 10px;
	align: bottom;
}